<!DOCTYPE html>
<html>
  <head>
    <title>DepthOfField</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>



    <script type="text/javascript">
      window.sessionBG = "<%= image_url('session.jpg') %>"
    </script>
    <script type="text/javascript">
      window.splashBG = "<%= image_url('splash.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
