<!DOCTYPE html>
<html>
  <head>
    <title>DepthOfField</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>




    <script type="text/javascript">
      window.flickrLogo= "<%= image_url('flickr_logo_dots.svg'); %>"
      window.session = "<%= image_url('session1.jpg') %>";
      window.splash0 = "<%= image_url('splash0.jpg') %>";
      window.splash1 = "<%= image_url('splash1.jpg') %>";
      window.splash2 = "<%= image_url('splash2.jpg') %>";
      window.splash3 = "<%= image_url('splash3.jpg') %>";
      window.splash4 = "<%= image_url('splash4.jpg') %>";

    </script>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
